---
---

/**
 *  Inspiring Online
 */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}

h1, h2 {
  font-family: 'Squada One', cursive;
  padding: 0px;
  margin: 0px;
}

/**
 *  Inspiring Online
 */

.wrapper {
  padding: 50px 20px;
}

article {
  max-width: 600px;
  margin: auto;
  padding: 50px;
  border-bottom: 2px dashed #ddd;
}

article h1 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: 3.2rem;
  text-indent: -30px;
  padding-bottom: 20px;
  width: calc(100% + 30px);
}