---
layout: compress
---

<!doctype html>
<html>
  <head>
    <title>Inspiring Online</title>

    <!-- META -->
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ 'feed.xml' | relative_url }}
    <link rel="icon" type="image/png" href="{{ 'assets/favicon.png' | relative_url }}">
    <link rel="mask-icon" href="safari-tab-icon.svg" color="#000000">
    <meta name="description" content="An open source blog for inspiring and creative online work!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@NspiringOnline">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">

    <!-- CSS -->
    <link href="{{ 'css/styles.css' }}" rel="stylesheet" type="text/css">
  </head>
  <body>

    <header>
      <div class="title-tile">
        <h1>
          <a href="{{ page.link }}?ref=inspiring-online">{{ page.title }}</a>
        </h1>
        {{ content }}
      </div>
    </header>

    <div class="wrapper">

      <div class="loader">
        <div class="loader-bar"></div>
      </div>
    </div>

    <!-- JS -->
    {% include analytics.html %}
  </body>
</html>
